<%- include('parts/header', {page: 'categories'}); %>
<%- include('parts/slide_bar'); %>
<style type="text/css">
 .edit:hover {
   cursor: pointer;
}
.animated:hover {
   cursor: pointer;
}
</style>
<div class="container">
<script type="text/javascript">



 $(document).ready(function(){

var table = $('#datatable-buttons').DataTable();

   $(".paid-users").click(function(){
    table.search('نعم').draw();
   })
   $(".all-users").click(function(){
     table.search('').draw();
   })
   $(".normal-users").click(function(){
     table.search('لا').draw();
   })

   $('#datatable-buttons').on('click', '.edit', function () {
       var id = $(this).attr('id');
       var new_name = prompt('تريد تغيره الى ماذا ؟');
       var what = $(this).attr('what');
       if(new_name != null){
         $.get('/edit-translate',{
             id,
             new_name,
             what
           },function(data){
              window.location = '/services';
            //  console.log(data)
           })
       }
   });

$(".select_parent_category").change(function (){
    var new_parent_cat = $(this).find("option:checked").val();
    var id = $(this).attr('id');

    $.get('/change-parent-category',{
        id,
        new_parent_cat
      },function(data){
        window.location = '/subcategories';
      })
});

   $(".pay").click(function(){
     var months = prompt('ما عدد الاشهر التى تريد اضافتها ؟');
     var user_id = $(this).attr('user');
     $.get('/pay-per-month',{
       user_id,
       months
     },function(data){
       window.location = '/users';
     })
   });



   $("#admin").click(function(){
     var user_id = $(this).attr('user');
     $.get('/make-admin',{
       user_id
     },function(data){
       window.location = '/users';
     })
   })



     $("#pay2").click(function(){
     var months = prompt('ما عدد الاشهر التى تريد حذفها ؟');
     var user_id = $(this).attr('user');
     $.get('/pay-per-month',{
       user_id,
       months: -months
     },function(data){
       window.location = '/users';
     })
   });

  })

</script>
<!-- Table -->
<!-- page content -->


<div class="col-md-10 col-sm-9 col-xs-9">

         <div style="margin-top:20px;" class="">
           <div class="row top_tiles">
             <div class="animated flipInY all-users col-lg-12 col-md-12 col-sm-12 col-xs-12">
             </div>

                                       <div class="x_panel">
                                         <div class="x_title">
                                           <h2>اضف | <small>خدمه</small></h2>
                                           <ul class="nav navbar-right panel_toolbox">

                                             <li><a class="close-link"><i class="fa fa-close"></i></a>
                                             </li>
                                           </ul>
                                           <div class="clearfix"></div>
                                         </div>
                                         <div class="x_content">


                                           <form  method="get" action="/send_notify" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                 <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">الرساله<span class="required">*</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                     <input type="text" id="name" name="message" required="required" class="form-control col-md-7 col-xs-12">
                                   </div>
                                 </div>
                                 <div class="ln_solid"></div>
                                 <div class="form-group">
                                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                     <button type="submit" class="btn center-block btn-success">اضف</button>
                                   </div>
                                 </div>

                               </form>

                                         </div>
                                       </div>
                                     </div>




                              </div>


                  </div>

</div>

                  </div>




<%- include('parts/footer'); %>
