<script src="/public/js/jquery.min.js"></script>

    <script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/custom.min.js"></script>

<!-- Datatables -->
    <script src="/public//js/jquery.dataTables.min.js"></script>
    <script src="/public/public/js/dataTables.bootstrap.min.js"></script>
    <script src="/public/js/dataTables.buttons.min.js"></script>
    <script src="/public/js/buttons.bootstrap.min.js"></script>
    <script src="/public/js/buttons.flash.min.js"></script>
    <script src="/public/js/buttons.html5.min.js"></script>
    <script src="/public/js/buttons.print.min.js"></script>
    <script src="/public/js/dataTables.fixedHeader.min.js"></script>
    <script src="/public/js/dataTables.keyTable.min.js"></script>
    <script src="/public/js/dataTables.responsive.min.js"></script>
    <script src="/public/js/responsive.bootstrap.js"></script>
    <script src="/public/js/dataTables.scroller.min.js"></script>
    <script src="/public/js/jszip.min.js"></script>
    <script src="/public/js/pdfmake.min.js"></script>
    <script src="/public/js/vfs_fonts.js"></script>

    </body>
  </html>
