

<!-- sidebar menu -->

            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu col-lg-2 col-sm-1 col-xs-3" style="  background: #2A3F54;height:400vh;">
              <div class="" style="padding-top:10px;padding-bottom:10px;">
                            <a href="index.html" class="site_title"><i class="fa fa-user"></i> <span> ابن الجوزي!</span></a>
                          </div>
              <div class="menu_section">
                <h3 style="padding:10px;">التحكم</h3>
                <ul class="nav side-menu">

                  <li><a href="/users"><i class="fa fa-user"></i> المستخدمين</span></a></li>
                  <li><a href="/books"><i class="fa fa-book"></i> التحكم ب الكتب</span></a></li>
                  <li><a href="/add-books"><i class="fa fa-book"></i>اضافه كتاب</span></a></li>
                  <li><a href="/add-categories"><i class="fa fa-tasks"></i>اضافة قسم رئيسى</span></a></li>
                  <li><a href="/add-subcategories"><i class="fa fa-tasks"></i>اضافة قسم فرعى</span></a></li>
                  <li><a href="/categories"><i class="fa fa-tasks"></i>التحكم فى الاقسام الرئيسية</span></a></li>
                  <li><a href="/subcategories"><i class="fa fa-tasks"></i>التحكم فى الاقسام الفرعية</span></a></li>
                  <li><a href="/orders"><i class="fa fa-shopping-cart"></i>طلبات الشراء</span></a></li>
                  <li><a href="/feedbacks"><i class="fa fa-envelope"></i>الرسائل </span></a></li>
                  <li><a href="/"><i class="fa fa-sign-out"></i>تسجيل الخروج</span></a>
                  </li>
              </div>

            </div>
            <!-- /sidebar menu -->
