

<!-- sidebar menu -->

            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu col-lg-2 col-sm-1 col-xs-3" style="  background: #2A3F54;height:110vh;">
              <div class="" style="">
                            <a href="index.html" class="site_title"><i class="fa fa-user"></i> <span>Lawyers !</span></a>
                          </div>
              <div class="menu_section">
                <h3 style="padding:10px;">التحكم</h3>
                <ul class="nav side-menu">

                  <li><a href="/lawyers"><i class="fa fa-user"></i> المحامين</span></a></li>
                  <li><a href="/services"><i class="fa fa-book"></i> التحكم ب الخدمات</span></a></li>
                  <li><a href="/types"><i class="fa fa-book"></i>التحكم ب الانواع</span></a></li>
                  <li><a href="/years"><i class="fa fa-tasks"></i>التحكم ب اعوام الخبره</span></a></li>
                  <li><a href="/places"><i class="fa fa-tasks"></i>التحكم ب البلاد</span></a></li>
                  <li><a href="/smallplaces"><i class="fa fa-tasks"></i> التحكم ب المدن</span></a></li>

                  <li><a href="/legalinfo"><i class="fa fa-tasks"></i>التحكم ب المعلومات القانونيه</span></a></li>
                  <li><a href="/requests"><i class="fa fa-tasks"></i>عرض الطلبات</span></a></li>
                  <li><a href="/calls"><i class="fa fa-envelope"></i>عرض طلبات اتصل بنا</span></a></li>
                  <li><a href="/notify"><i class="fa fa-envelope"></i>ارسال اشعارات</span></a></li>
                  <li><a href="/terms"><i class="fa fa-envelope"></i>الشروط و الاحكام</span></a></li>
                  <li><a href="/admin"><i class="fa fa-envelope"></i>تغير بيانات الادمن</span></a></li>

                  <li><a href="/"><i class="fa fa-sign-out"></i>تسجيل الخروج</span></a>
                  </li>
              </div>

            </div>
            <!-- /sidebar menu -->
